PyGithub==2.5.0
redis==5.2.1
openai
langchain-openai
langchain-ollama==0.2.2
pydantic-settings==2.7.1
langchain==0.3.14
langchain-community==0.3.14
# Backend related
fastapi==0.115.6
uvicorn
# tests related
pytest
pytest-mock
